<div class="min-h-screen flex items-center justify-center bg-linear-to-tl to-(--bg-page) from-(--primary-light)">
  <div class="w-full max-w-md">
    <!-- Login Form -->
    <p-card class="card">
      <div class="p-4">
        <!-- Header -->
        <div class="text-center mb-12">
          <div class="flex items-center justify-center mb-4">
            <div class="bg-(--primary) text-(--primary-light) rounded-md text-2xl font-bold px-4 py-2 ">
              PayZen
            </div>
          </div>
          <h1 class="text-3xl text-(--primary) font-bold mb-2">{{ 'auth.login.welcome' | translate }}</h1>
          <p class="text-sm text-(--text-secondary) mt-2">{{ 'auth.login.subtitle' | translate }}</p>

        </div>

        <!-- Error Message -->
        @if (error()) {
          <p class="w-full mb-4 alert alert-error flex items-center gap-2">
            <span class="pi pi-times-circle text-lg"></span>
            <span class="leading-snug">{{ error() }}</span>
          </p>
        }

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <!-- Email -->
          <div variant="on" class="form-group">
            <label for="email" class="block text-sm text-(--text-primary) mb-2 after:text-red-500 after:content-['*']">
              {{ 'auth.login.emailAddress' | translate }}
            </label>
            <input 
              pInputText 
              id="email"
              formControlName="email"
              type="email"
              [placeholder]="'auth.login.emailPlaceholder' | translate"
              class="w-full input"
              [class.border-(--danger)]="emailControl?.invalid && emailControl?.touched"
              [class.border-(--success)]="emailControl?.valid"
            />
            @if (emailControl?.invalid && emailControl?.touched) {
              <small class="text-(--danger) mt-1 block">
                @if (emailControl?.hasError('required')) {
                  {{ 'auth.login.emailRequired' | translate }}
                }
                @if (emailControl?.hasError('email')) {
                  {{ 'auth.login.emailInvalid' | translate }}
                }
              </small>
            }
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password" class="block text-sm text-(--text-primary) mb-2 after:text-red-500 after:content-['*']">
              {{ 'auth.login.password' | translate }}
            </label>
            
            <input 
              pPassword
              type="password"
              id="password"
              formControlName="password"
              [placeholder]="'auth.login.passwordPlaceholder' | translate"
              [feedback]="false"
              class="w-full input"
              [class.border-(--danger)]="passwordControl?.invalid && passwordControl?.touched"
              [class.border-(--success)]="passwordControl?.valid"
            />
            @if (passwordControl?.invalid && passwordControl?.touched) {
              <small class="text-(--danger) mt-1 block">
                @if (passwordControl?.hasError('required')) {
                  {{ 'auth.login.passwordRequired' | translate }}
                }
                @if (passwordControl?.hasError('minlength')) {
                  {{ 'auth.login.passwordMinLength' | translate }}
                }
              </small>
            }
          </div>

          <!-- Remember Me -->
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <label class="flex items-center cursor-pointer relative">
                <input inputId="rememberMe" type="checkbox" formControlName="rememberMe" checked class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow-xs hover:shadow-sm border border-(--border-color-medium) checked:bg-(--primary) checked:border-(--primary)" id="check1" />
                <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                </span>
              </label>
              <label for="rememberMe" class="ml-2 text-(--text-primary) cursor-pointer">
                {{ 'auth.login.rememberMe' | translate }}
              </label>
            </div>
            <a href="#" class="text-sm text-(--primary) hover:text-(--primary-hover)">
              {{ 'auth.login.forgotPassword' | translate }}
            </a>
          </div>

          <!-- Submit Button -->
          <p-button 
            type="submit"
            [label]="'auth.login.submit' | translate"
            [loading]="isLoading()"
            [disabled]="loginForm.invalid"
            styleClass="w-full btn btn-primary"
            size="large"
          />
        </form>
      </div>
    </p-card>
  </div>
</div>
