@import "../../../styles.css";

.sidebar-item {
  @apply flex items-center gap-2 py-2 px-3 rounded-lg text-(--color-text) hover:bg-(--color-primary-light) hover:border-r-2 border-(--color-primary) transition;
}

.sidebar-item-active {
  @apply bg-(--color-primary-light) text-(--color-primary) shadow-(--shadow-card) hover:bg-(--color-primary)/10 hover:text-(--color-primary-hover) font-(--font-title) border-r-2 border-(--color-primary);
}
